<!DOCTYPE html>
<html>
    <head>
        <title>FoodManager</title>
        <%= stylesheet_link_tag    'application', media: 'all' %>
        <%= javascript_include_tag 'application'%>
        <%= csrf_meta_tags %>
    </head>
    <body>
        <header>
            <div id="user-controls"
                 <% flash.each do |key, value| -%>
                <div class="flash <%= key %>"><%= value %></div>
                 <% end -%>

                 <% if @current_user %>
                     <%= @current_user.email %>
                     <%= link_to "Sign out", users_logout_path %>
                 <% else %>
                     <%= link_to "Sign in", users_login_path%>
                     <%= link_to "Sign up", new_user_path %>
                 <% end %>
            </div>
        </header>
        
        <%= yield %>
        
        <%= yield :app %>
        <div id="container">
        </div>
    </body>
</html>
